.button {
    color: #DB7611;
    background: var(--header-block-color);

    border: 1px solid;
    border-color: #DB7611;
    border-radius: 10px;

    height: 40px;

    cursor: pointer;

    padding: 0.8rem 2rem;
    transition: all 0.3s;
    font-weight: bold;
    margin-right: 1rem;
    display: flex; 
    justify-content: center; 
    align-items: center;

}

.button:hover {
    opacity: 0.8;
}

.button.active {
    background: #DB7611;
    color: #000000;
}

.button:disabled {
    cursor: not-allowed
}